* {
    animation-name:come-in;
    animation-duration: 2s;
}

@keyframes come-in {
    0% {
        margin-bottom: 50px;
        opacity: 0%;
    }

    100% {

    }
}

body {
    background-image: url("Images/RobotFullView3.jpg");
    background-size: cover;
    color: white;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 75px;
    margin-bottom: 35px;
}

nav {
    height: 75px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.31);
}

header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    font-size: 40px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 2100px;
}

main h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 mark {
    font-family: 
}

.imgContainer {
    width: 1024px;
    height: 225px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
} .txtContainer {
    position: relative;
    right: 45px;
    padding-left: 300px;
    padding-top: 20px;
    width: 700px;
} .paragraph {
    padding-right: 50px;
}