*{
    font-family: Comfortaa, Helvetica, sans-serif;
    animation-name:come-in;
    animation-duration: 2s;
}

@keyframes come-in {
    0% {
        margin-bottom:50px;
        opacity:0%;
    }

    100%{
        
    }
}


.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("Images/RobotFullView3.jpg");
    background-size: cover;
}

header {
    height: 75px;
    margin-bottom: 35px;
    color:white;
}

nav {
    height: 75px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.31);
}

header h1 {
    text-align: center;
    font-family: Bahnschrift, Comfortaa, Helvetica, sans-serif;
    padding-top: 40px;
    font-size: 60px;
}

nav ul li {
    color:white;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;

}

nav ul li a {
    color:white;
    text-decoration: none;
    font-size:20px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

section {
    text-align: center;
}


footer {
    height:80px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.712);
    font-size: 12px;
    position: relative;
    top: 30px;
}

main {
    height:1000px;
}

.break {
    height:100px;
}

#mission {
    border-radius:25px;
    height:150px;
    padding:25px;
    margin-left:8%;
    margin-right:8%;
    height: 200px;
    text-align: center;
    color: white;
    padding:40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(157, 216, 243);
}

#mission p {
    color:white;
    font-size:20px;
    font-family:Calibri, Arial, Helvetica, sans-serif;
}

.miniheader {
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    color:lightcyan;
    font-size:35px;
}
