body {
    background-image: url("Images/RobotFullView3.jpg");
    background-size: cover;
    color: white;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 75px;
    margin-bottom: 35px;
}

nav {
    height: 75px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.31);
}

header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    font-size: 40px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 2100px;
}

main h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}




.imgContainer {
    width: 1024px;
    height: 225px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
} .txtContainer {
    position: relative;
    right: 45px;
    padding-left: 300px;
    padding-top: 20px;
    width: 700px;
} .paragraph {
    padding-right: 50px;
}

#BrandonXu {
} 

#Melody {
    position: relative;
    top: 40px;
    right: -40px;
}



footer {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.712);
    font-size: 12px;
    position: relative;
    top: 60px;
}

.tab {
    display: inline;
    margin-left: 40px;
}

.left {
    float: left;
    position: relative;
    top: 40px;
    right: -40px;
}

.right  {
    float: right;
}

p {
    color: white;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 2;
}
